<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chameleon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F58584162CE7F5C1006D5DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58584272CE7F5C2006D5DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58584312CE7F5C2006D5DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
